* {
  padding: 0px;
  margin: 0px;
  
}
main{
  background: url(/pectures/bac.jpg) no-repeat;;
  background-size: cover;

}

Body {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;

}
nav {
  width: 100%;
  height: auto;
  background-color: #423954;
  display: grid;
  grid-template-columns: auto auto;
}

.logo {
  width: 80px;
  height: auto;
}
.navlinks {
  margin-top: 20px;
  margin-left: 400px;
}
.navlinks ul li {
  list-style: none;
  display: inline;
  justify-content: space-between;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  gap: 20px;
}
.navlinks ul li a {
  color: white;
  text-decoration: none;
  color: #fff;
  padding: 50px;
  outline: none;
}
.navlinks ul li a:hover {
  background-color: white;
  color: #ab9ec5;
  padding: 29px;
}
#searchbtn{
    width:500px;
    height:50px;
    margin-left:30%;
    margin-top:50PX;
    border-radius:18px;
    font-size: 20px;
}
::placeholder{
    font-family: work sans,sans-serif;
    font-size: 15px;
    font-style: italic;
}
form.search button {
  
  width: 50px;
  height: 50px;
  border-radius: 19px;
  background: #423954;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
form.search button:hover {
    background: #ab9ec5;
  }
/* foooooooooooooooooooooooooooooooooooooooooooooorm */
.formation{
  
    display: grid;
    grid-template-columns: auto auto;
}
.formation input {
    width:500px;
    height:40px;
    margin-top:50PX;
    border-radius:18px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.192);
}

#lang{
  width:500px;
    height:50px;
    margin-top:50PX;
    border-radius:18px;
    font-size: 20px; 
    background-color: rgba(255, 255, 255, 0.192);
}
#formbtn {
  width:500px;
  height:50px;
  margin-top:50PX;
  border-radius:18px;
  font-size: 20px; 
}
::placeholder{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-style: italic;
    margin-left: 10px;
   
}
.formation h1{
  font-family:  sans-serif;
  margin-top: 50px;
  margin-left: 60px;
  font-size:x-large;
}

label{
  margin-top:13PX;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  

}


h2{
  font-family:sans-serif;
}
h5{
  font-family:sans-serif;
  color: red;
  font-size: 15px;

  
}
h4{
  font-family:sans-serif;
  color: red;
  font-size: 15px;
  position: absolute;
  top: 430px;
  right: 550px;

  
}


.fieldset{
  display: flex;
  justify-content: center;
  margin-top:50PX;
  border-radius:18px;
  font-family: sans-serif;
  HEIGHT: 42px;

  color: rgba(104, 102, 102, 0.836);
 
}
.fieldset{
  border: 2px solid #5f5f5fe7;
  width:500px ;
  border-radius: 20px;
  
  
}
.fieldset input{
  width: 30px;
  margin-top: 5px;
}
h6{
  font-size: 30px;
  font-family: sans-serif;
}

 button {
  width:100px;
  height:50px;
  margin-left:80%;
  margin-top:50PX;
  border-radius:18px;
  font-size: 20px;
  font-style: bold;
  background-color: #A091C0;
}


/* ffffffffffffffffffffffffffffffffff */
#output{
  margin-left: 40px;
  margin-top: 10px;
  width: 300px;
  height: auto;
}
input[type="file"]{
  display: none
}
input[type="button" i] {
  width:100px;
  height:50px;
  border-radius:18px;
  font-size: 20px;
  font-style: bold;
  background-color: #A091C0;
}

table {
  margin-top: 10px;
  background-color: #ab9ec5;
  font-family: sans-serif;
  border-collapse: collapse;
  font-size: 25px;
  width: 90%;
  margin-left: 70px;
  border-collapse: collapse;

}

 th {
  
  border: 1px solid #423954;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ccc;
}
.fa-edit:before, .fa-pencil-square-o:before {
color: rgba(41, 202, 41, 0.795);
margin-left: 25px;
}
.fa-trash:before, .fa-pencil-square-o:before {
color: rgba(255, 0, 0, 0.658);
margin-left: 25px;
}


table.list{
  width:80%;
  margin-left: 10%;
}
td, th {
  border: 1px solid #423954;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
  background-color: #ab9ec5;
}
/* foooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooter */
  footer{
      margin: 0px;
      padding: 0px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: #423954;

  }

  .contact {
    margin-top: 20px;
    background-color:#110A1D;
  }
  .contact ul li {
     
    margin-left: 250px;
    list-style: none;
    display: inline;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    gap: 20px;
  }
  .contact ul li a {
    color: white;
    text-decoration: none;

    padding: 10px;
    outline: none;
    
    
  }
  .contact ul li a:hover {
    background-color: white;
    color: #ab9ec5;
  }

.contact li a.fa{
    font-size: 30px;
    color: white;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    font-size: 14px;
}
.go{
    width: 40%;
    height:auto;
}
.footer{
      display: grid;
      grid-template-columns: auto auto auto;
  }
  .links{
      margin-right:400px;
  }
  .links ul li {
      margin-top: 30px;
      list-style: none;
      color: white;
      font-size: 14px;
      line-height: 20px;
      text-shadow:  2px 2px 6px #181818;
  }
  .links ul li a{
      color:white
  }
  .links ul li :hover{
      color: thistle;
  }
  footer .social {
      color: white;
    text-align:center;
    padding-bottom:25px;
    margin-top: 30px;
  }
  
  footer .social > a {
     
    font-size:34px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:3px solid #ccc;
    
    margin:0 20px;
    color:inherit;
    opacity:0.75;
  }
  
  footer .social > a:hover {
    opacity:2;
    color: #110A1D;
  }
  .coppyrght{
      background-color: #110A1D;
      color: #fff;
  }
 span{
     color:#A091C0 ;
 }
 