* {
  padding: 0px;
  margin: 0px;
  
}

Body {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
nav {
  width: 100%;
  height: auto;
  background-color: #423954;
  display: grid;
  grid-template-columns: auto auto;
}

.logo {
  width: 80px;
  height: auto;
}
.navlinks {
  margin-top: 20px;
  margin-left: 400px;
}
.navlinks ul li {
  list-style: none;
  display: inline;
  justify-content: space-between;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  gap: 20px;
}
.navlinks ul li a {
  color: white;
  text-decoration: none;
  color: #fff;
  padding: 50px;
  outline: none;
}
.navlinks ul li a:hover {
  background-color: white;
  color: #ab9ec5;
}
#searchbtn{
    width:500px;
    height:50px;
    margin-left:30%;
    margin-top:50PX;
    border-radius:18px;
    font-size: 20px;
}
::placeholder{
    font-family: work sans,sans-serif;
    font-size: 15px;
    font-style: italic;
}
form.search button {
  
  width: 50px;
  height: 50px;
  border-radius: 19px;
  background: #423954;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
form.search button:hover {
    background: #ab9ec5;
  }
/* foooooooooooooooooooooooooooooooooooooooooooooorm */
.formation{
  
    display: grid;
    grid-template-columns: auto auto;
}
.formation input {
    width:500px;
    height:50px;
    margin-top:50PX;
    border-radius:18px;
    font-size: 20px;
}

#lang{
  width:500px;
    height:50px;
    margin-top:50PX;
    border-radius:18px;
    font-size: 20px; 
}
#formbtn {
  width:500px;
  height:50px;
  margin-top:50PX;
  border-radius:18px;
  font-size: 20px; 
}
::placeholder{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-style: italic;
    margin-left: 10px;
   
}
.formation h1{
  font-family:  sans-serif;
  margin-top: 50px;
  margin-left: 60px;
}
label{
  margin-top:20PX;
  

}
#buttono {
  width:100px;
  height:50px;
  margin-left:60%;
  margin-top:50PX;
  border-radius:18px;
  font-size: 20px;
  font-style: bold;
  background-color: #A091C0;
}

h2{
  font-family:sans-serif;
}
h5{
  font-family:sans-serif;
  color: red;
  font-size: 15px;

  
}
h4{
  font-family:sans-serif;
  color: red;
  font-size: 15px;
  position: absolute;
  top: 877px;
  right: 550px;

  
}


.fieldset{
  display: flex;
  justify-content: center;
  margin-top:40PX;
  border-radius:18px;
  font-family: sans-serif;
  font-size: 25px;
  font-style: italic;
  color: rgba(104, 102, 102, 0.836);
 
}
.fieldset{
  border: 2px solid #5f5f5fe7;
  width:500px ;
  border-radius: 20px;
  height: 80px;
  
}
.fieldset input{
  width: 50px;
  margin-top: 10px;
}
h6{
  font-size: 30px;
  font-family: sans-serif;
}

 button {
  width:100px;
  height:50px;
  margin-left:80%;
  margin-top:50PX;
  border-radius:18px;
  font-size: 20px;
  font-style: bold;
  background-color: #A091C0;
}


/* ffffffffffffffffffffffffffffffffff */
#output{
  margin-left: 40px;
  margin-top: 10px;
  width: 300px;
  height: auto;
}
input[type="file"]{
  display: none
}
.lable{
  color: rgb(2, 2, 2);
  height: 60px;
  width: 180px;
  margin-left: 60px;
  background-color: rgb(255, 255, 255);
 border-radius: 20px;
  font-size: 30px;
  text-shadow:1px 1px 3px  rgba(0, 0, 5px, 0.564);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  border: 3px solid #423954;
box-shadow: 2px 2px 9px rgb(107, 105, 105);
}
.profile-pico{
  display: grid;
  grid-template-columns: auto auto auto;
}
.text{
  display: flex;
}
.jjjjjjjjjjjj{
  display: grid;
  grid-template-columns: auto auto;
}
#titlestory{
  margin-top: 20px;
  border-radius: 15px;
  width: 400px;
  height: 50px;
}
#textarea{
  border-radius: 15px;
  box-shadow:4px 3px 2px black;
}

table {
  margin-top: 10px;
  background-color: #ab9ec5;
  font-family: sans-serif;
  border-collapse: collapse;
  font-size: 25px;
  width: 90%;
  margin-left: 30px;
 
}

 th {
  
  border: 1px solid #423954;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ccc;
}


/* foooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooter */
  footer{
      margin: 0px;
      padding: 0px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: #423954;

  }

  .contact {
    margin-top: 20px;
    background-color:#110A1D;
  }
  .contact ul li {
     
    margin-left: 250px;
    list-style: none;
    display: inline;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    gap: 20px;
  }
  .contact ul li a {
    color: white;
    text-decoration: none;

    padding: 10px;
    outline: none;
    
    
  }
  .contact ul li a:hover {
    background-color: white;
    color: #ab9ec5;
  }

.contact li a.fa{
    font-size: 30px;
    color: white;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    font-size: 14px;
}
.go{
    width: 40%;
    height:auto;
}
.footer{
      display: grid;
      grid-template-columns: auto auto auto;
  }
  .links{
      margin-right:400px;
  }
  .links ul li {
      margin-top: 30px;
      list-style: none;
      color: white;
      font-size: 14px;
      line-height: 20px;
      text-shadow:  2px 2px 6px #181818;
  }
  .links ul li a{
      color:white
  }
  .links ul li :hover{
      color: thistle;
  }
  footer .social {
      color: white;
    text-align:center;
    padding-bottom:25px;
    margin-top: 30px;
  }
  
  footer .social > a {
     
    font-size:34px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:3px solid #ccc;
    
    margin:0 20px;
    color:inherit;
    opacity:0.75;
  }
  
  footer .social > a:hover {
    opacity:2;
    color: #110A1D;
  }
  .coppyrght{
      background-color: #110A1D;
      color: #fff;
  }
 span{
     color:#A091C0 ;
 }
 